* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  background-image: url("./imagenes/img2.jpg");
  background-size: contain;
  background-repeat:repeat;
}

header {
    color: deepskyblue;
    font-size: 40px;
    padding: 20px;
    text-align: center;

}

#imagenCancion{
    width: 400px;
    height: 400px;
}
.contenedorCanciones {
  padding: 10px 20px;
}


.imagenBotones {
  width: 80px;
  height: 80px;
  background-color: lightgrey;
}

.caratula{
  display: inline-block;
  justify-content: center;
  padding: 10px;
}

.infoCancion{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  font-size: 40px;
  color: deepskyblue;
}
.dropdown {
  position: absolute;
  display: inline-block;
  margin: 20px;
}

.dropdown-button {
  background-color: deeppink;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}